.comment {
  border: solid 1px #ccc;
  border-width: 0 0 1px;
  padding: 10px 0;
  position: relative;
}

.comment__name {
  font-size: 1.1rem;
  font-weight: bold;
}

.comment__body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.9rem;
  padding: 12px 0;
}

.comment__likes {
  font-size: 0.75rem;
  line-height: 1.1rem;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  position: absolute;
  top: 10px;
  right: 0;
}