<section class="col-12 col-md-6 offset-md-2">
  <header class="comments-header">
    <h2 class="comments-header__title"><span>0</span> Comments</h2>
    <label class="comments-header__sort">
      Sort
      <button class="comments-header__button">Likes</button>
    </label>
  </header>
  <ul class="comments-list">
    {{!-- Comments injected here --}}
  </ul>
</section>
